/* Create styles for P4t credit fraud project */
/* CONTENTS */
    /* CONTAINER SETTINGS */    
    /* INDEX HTML SETTINGS */
    /* TRANSACTIONS HTML SETTINGS */
    /* DASHBOARD HTML SETTINGS */
    /* FONT SETTINGS - HEADINGS & PARAGRAPHS */
    /* BUTTON SETTINGS */
    /* DASH SETTINGS */
    /* MISC CONTAINER SETTINGS */



/* INDEX HTML SETTINGS */

/* .banner-image also applies to transactions & dashboard html */
.hero_banner { 
  margin-bottom: 10px; /* Ensures the image behaves properly */
}

.banner_image { 
  width: 100%;
  height: 350px;
  max-width: 100%;
  display: block; /* Ensures the image behaves properly */
}
  
.tile_layout {
    margin-top: 10px; 
}

/* TRANSACTIONS HTML SETTINGS */
.file_upload_layout{
      margin-top: 625px;
      margin-bottom: 40px; 
      /* background-color: #f8f9fa; */
  }

.transactions_layout{
    height: 500px;
    margin: 0 auto;
    margin-bottom: auto; 
    background-color: #f8f9fa;
}

input[type="submit"] {
  background-color: #9FA6B2; 
  color: white; 
  padding: 5px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin: 10px 0; 
}

.btn {
  background-color: #9FA6B2; 
  color: white; 
  padding: 5px 15px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  margin: 10px 0;
  font-size: 16px; 
}

.transactions_table {
  width: 90%;
  margin: 0 auto;
}

.transactions_table th {
    background-color: rgb(144,12,63); 
    color:white;
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    text-align: center;
    padding: 8px
}

.transactions_table tr {
  font-family: Arial, sans-serif; 
  text-align: left;
  padding: 8px
}

/* DASHBOARD HTML SETTINGS */
.dashboard_layout{
  margin-top: 500px; 
  height: 500px;
  margin-bottom: 500px; 
  background-color: #f8f9fa;
}

/* FONT SETTINGS - HEADINGS & PARAGRAPHS */
h1{
    color:rgb(144,12,63);
    font-family: 'Roboto', serif;
    font-size: 50px;
    text-align:center
}

h2{
  color: white;
  font-size: 50px;
}

p{
    color: #6c757d;
    font-family: "Helvetica Neue", sans-serif;
    font: 16px;
    text-align:center
}

.navbar-brand{
  color: #6c757d;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align:center 
}


/* DASH SETTINGS */


/* MISC CONTAINER SETTINGS */
.custom-height {
  padding: 10px
}

.height-20 {
  height: 20px;
}

.height-100 {
  height: 100px;
}

.height-25 {
  height: 25px;
}
